body {
    width: 250px;
}

header {
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    width: fit-content;
    font-size: 14px;
    margin: auto;
}

#submission {
    width: fit-content;
    margin: auto;
}

#text-input {
    height: 20px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}

#submit-button {
    cursor: pointer;
}

#censored-list {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 20px;
}

.censored-item-container {
    width: 205px;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.censored-item-container:last-child {
    border-bottom: none;
}

.censored-item-dummy {
    clear: both;
}

.censored-li {
    float: left;
    font-size: 15px;
    width: 150px;
}

.remove-button {
    float: right;
    cursor: pointer;
}
